@tailwind base;
@tailwind components;
@tailwind utilities;

/* components */
@import './components/input.css';
@import './components/button.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-2xl font-bold;
}

.container {
  @apply max-w-xl mx-auto h-screen;
}

.error-message {
  @apply text-sm text-red-400 text-center;
}
